<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :材料名 %>
    <%= f.text_field :material_name, placeholder:"食材名" %>
    <%= f.text_field :quantity, placeholder:"数量" %>
    <%= link_to_remove_association "材料を削除", f %>
  </div>
</div>