<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render 'root/sidebar' %>
		</div>
		<div class="form col-xs-8">
			<h1>新規レシピ作成</h1>
			<%= render 'form', recipe: @recipe %>
			<div>
			</div>
		</div>
	</div>
</div>