<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>UserName</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<% @user.followings.each do |user| %>
			<tr>
				<td class="table-img"><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
				<td class="table-name"><%= user.name %></td>
				<td><%= link_to '詳細', user_path(user) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "Back", books_path %>
</div>