/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-break: break-all;
}
body {
	font-family:'M PLUS Rounded 1c', sans-serif;
	}

.clearfix:after {
	content:"";
	display:block;
	clear: both;
}

body {
     a:link {color:black; text-decoration:none }
     a:visited { color:black; text-decoration:none }
     a:hover { color:blue; text-decoration:none }
     a:active { color:red; text-decoration:none }
 }
.table-sortable {
  tr.item {
    cursor: row-resize;
  }
}
ul {
  list-style: none;
}
.attachment_form {
	margin: 0 auto;
}
.user_image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.group_image {
	width: 100%;
	height: 100px;
}
.setep_image {
	width: 100%;
	height: 200px;
}
.cook_image {
	width: 100%;
	height: 400px;
}
.relations_image {
	height: 100px;
}
.group_icon {
	height: 20px;
	border-radius: 50%;
}
.index_recipe_iamges {
	width: 100%;
	height: 150px;
}
.form, .edit_form, .new_form, .thumbnail {
	text-align: center;
}
.left_image {
	background-image: url(/images/left.png);
	background-size: 100% 20%;
	width: 100%;
	height: 100vh;
	background-repeat: repeat-y;
}
.right_image {
	background-image: url(/images/right.png);
	background-size: 100% 20%;
	width: 100%;
	height: 100vh;
	background-repeat: repeat-y;
}
.procedure {
	width: 100%;
	word-break: break-all;
}

